<h2><%= @task.title %></h2>
<p><%= @task.description %></p>
<p><strong>Status:</strong> <%= @task.completed ? 'Completed' : 'Incomplete' %></p>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
